doctype html
html
	head
		link(href="css/style.min.css" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet")
	body
		div#subcount
		script(src="js/main.es5.js")
		//-script(src="js/main.js")
		script(src="https://apis.google.com/js/client.js?onload=load")
